* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Anonymous Pro", "Courier New", monospace;
  width: 80%;
  margin: auto;
}

h1 {
  font-size: 2rem;
  padding: 0.6rem 0.6rem 0.6rem 0;
}

h3 {
  font-size: 1.3rem;
  padding: 0.6rem 0.6rem 0.6rem 0;
}

p {
  font-size: 1rem;
  padding: 0 0.6rem 0.6rem 0;
}

a {
  text-decoration: none;
}

hr {
  margin: 1rem 0 1rem 0;
  height: 0.188rem;
  border: transparent;
  background-color: #212121;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

li {
  padding: 0 0.6rem 0.6rem 0;
  list-style: none;
}
